<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politique de Confidentialité</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="light-mode">
    <div class="policy-page">
        <h1>Politique de Confidentialité</h1>
        <p><strong>Dernière mise à jour : 11/06/2024</strong></p>
        <p>Nous, chez SignIA, prenons très au sérieux la confidentialité de vos données personnelles. Cette politique de confidentialité explique comment nous collectons, utilisons, partageons et protégeons les informations vous concernant lorsque vous utilisez notre site web qui permet de traduire le langage des signes grâce à une intelligence artificielle (IA). Nous nous engageons à respecter le Règlement Général sur la Protection des Données (RGPD) de l'Union Européenne.</p>

        <h2>1. Collecte des Informations</h2>
        <h3>1.1 Informations Collectées</h3>
        <p>Données Personnelles : Nous pouvons collecter des informations personnellement identifiables telles que votre nom, votre adresse email, et toute autre information que vous choisissez de nous fournir.</p>
        <p>Données Techniques : Nous collectons automatiquement des informations techniques telles que votre adresse IP, le type de navigateur, les pages visitées sur notre site, et le temps passé sur notre site.</p>

        <h3>1.2 Méthodes de Collecte</h3>
        <p>Formulaires de Contact : Lorsque vous remplissez un formulaire de contact ou vous inscrivez sur notre site.</p>
        <p>Cookies et Technologies Similaires : Pour améliorer votre expérience sur notre site, nous utilisons des cookies et d'autres technologies de suivi.</p>

        <h2>2. Utilisation des Informations</h2>
        <p>Nous utilisons les informations collectées pour :</p>
        <ul>
            <li>Fournir et Améliorer nos Services : Utiliser les données pour traduire le langage des signes et améliorer l'IA.</li>
            <li>Communication : Vous envoyer des mises à jour, des notifications et répondre à vos demandes.</li>
            <li>Sécurité : Assurer la sécurité et l'intégrité de notre site.</li>
        </ul>

        <h2>3. Partage des Informations</h2>
        <p>Nous ne vendons, n'échangeons ni ne louons vos informations personnelles à des tiers. Nous pouvons partager vos informations avec :</p>
        <ul>
            <li>Partenaires de Confiance : Fournisseurs de services tiers qui nous aident à opérer notre site et à fournir nos services, sous réserve de leur engagement à maintenir la confidentialité des informations.</li>
            <li>Obligations Légales : Si requis par la loi ou pour protéger nos droits légaux.</li>
        </ul>

        <h2>4. Sécurité des Données</h2>
        <p>Nous prenons des mesures de sécurité appropriées pour protéger vos informations personnelles contre l'accès non autorisé, la modification, la divulgation ou la destruction. Cela inclut des examens internes de nos pratiques de collecte, de stockage et de traitement des données et des mesures de sécurité.</p>

        <h2>5. Vos Droits</h2>
        <p>Sous le RGPD, vous avez le droit de :</p>
        <ul>
            <li>Accéder à vos Données : Demander une copie des informations personnelles que nous détenons sur vous.</li>
            <li>Rectifier vos Données : Demander la correction de toute information personnelle inexacte ou incomplète.</li>
            <li>Supprimer vos Données : Demander la suppression de vos données personnelles sous certaines conditions.</li>
            <li>Restreindre le Traitement : Demander de limiter le traitement de vos données personnelles dans certaines circonstances.</li>
            <li>Portabilité des Données : Recevoir vos informations personnelles dans un format structuré et couramment utilisé.</li>
            <li>Opposition : Vous opposer au traitement de vos données personnelles dans certaines circonstances.</li>
        </ul>

        <h2>6. Conservation des Données</h2>
        <p>Nous conservons vos informations personnelles uniquement aussi longtemps que nécessaire pour atteindre les objectifs décrits dans cette politique de confidentialité, sauf si une période de conservation plus longue est requise ou permise par la loi.</p>

        <h2>7. Modifications de cette Politique</h2>
        <p>Nous pouvons mettre à jour cette politique de confidentialité de temps en temps. Nous vous informerons de tout changement en publiant la nouvelle politique sur notre site web. Nous vous encourageons à consulter cette page régulièrement pour vous tenir informé de nos pratiques en matière de confidentialité.</p>

        <h2>8. Contact</h2>
        <p>Si vous avez des questions concernant cette politique de confidentialité ou nos pratiques de traitement des données, veuillez nous contacter à :</p>
        <p>SignIA<br>
           12 avenue Léonard de Vinci 92400 Courbevoie<br>
           contact@SignIA.fr<br>
           +33 6 00 00 00 00</p>

        <p>En utilisant notre site web, vous acceptez les termes de cette politique de confidentialité.</p>
    </div>
    <footer>
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
    </footer>
</body>
</html>

